#container{
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
}
button{
    border-radius: 0;
    width: 33%;
    height: 100%;
}

#green{
    background-color: greenyellow;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}